*{font-family:'Overpass';} 
body{
    background-color: #383131;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

input {
    font-style: italic;
    color: #707070;
    text-align: center;
    font-size: 8vh;
    width: 90vw;
    height: 12vh;
    background-color: #ffffff;
    margin:5vw auto 0px;
    display: block;
}



.centered-text{
    color: #FFFFFF;
    text-align: center;
    margin: 10vh auto 0px;
    font-size: 1.83vw;
    width: 50vw;
    font-weight: bold;
}

.data-prep {
    height: 70vh;
    width: 70vw;
    opacity: 0.8;
    position: absolute;
    right: 0;
    margin: 5vh;
}

.dual-buttons-input {
    width: 47%;
    background-color: #D3D3D3;
    height: 100%;
    font-size: 6vh;
    font-size: 3.03vw;
    color: #707070;
    z-index: 2;
}

.preview {
    z-index: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
    position: absolute;
}

.quad-buttons {
    position: absolute;
    width: 70vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    margin: 0 2.8vw 5vh;   
}

.scraping-button {
    position:absolute;
    margin: 5% 5%;
    align-content: center;
    display: inline-flex;
    align-items: center; 
    background-color: #D3D3D3;
    font-size: 3.5vw;
    height: 20vh;
    width: 90%;
    color: #707070;
    z-index: 0;
    bottom: 0;
}

.scraping-list {
    padding: 0;
    list-style-type: none;
    color: #707070;
    
}

.scraping-preview {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.scraping-site-preview {
    height: 80vh;
    width: 70vw;
    opacity: 0.8;
    margin: 5vh;
    background-color: red;
}

.select-sheet {
    flex-direction: column;
}

.skinnier-buttons {
    display: inline-flex;
    align-items: center; 
    background-color: #D3D3D3;
    color: #707070;
    width: 16vw;
    height: 18vh;
    text-align: center;
    
    font-size: 4.15vh;
    font-size: 2.1vw;
    z-index: 0;
    text-align: center;
}

.two-buttons {
    display: flex;
    flex-direction: row;
    height: 25vh;
    margin: 1% auto;
    justify-content: space-between;
    width: 90vw;
}

.url-heading {
    text-decoration: underline;
    text-align: center;
     margin: 5%; 
    font-size: 2.5vh;
    font-size: 1.26vw;
    font-weight: bold;
    width: 90%;
    height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-y: hidden;
}

.url-heading::-webkit-scrollbar {
    display: none;
}

.webpage-preview {
    display: none;
}

.white-box {
    height: 45vh;
    width: 100vw;
    background-color: white;
    position: absolute; 
    z-index: 1; 
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border: #707070;
    border-width: 2px;
    border-style: solid;
}

.white-box-centered {
    background-color: white;
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 25%;
    left: 25%;
    border: #707070;
    border-width: 2px;
    border-style: solid;
}

.white-box-left {
    background-color: #ffffff;
    z-index: -1;
    height: 90vh;
    margin: 5vh 5vh;
    width: 22vw;
    position: absolute
}

.white-box-text {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1% 0px;
    color: #707070;
    font-size: 2.02vw;
    font-weight: bold;
    height: 30%;
}

.white-box-two-buttons {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex: 1;
    margin: 1% auto;
    justify-content: space-between;
    z-index: 2;
    
}
