*{font-family:'Overpass';}
body{
    background-color: #383131;
    margin: 0;
}

button {
    border: none;
    color: #707070;
    margin: 0.5vw;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    background-color: #D3D3D3;
    width: 45vw;
    height: 18vh;
    display: block; 
}

webview {
    float: left;
    width: 70%;
    background-color: red;
    margin: 10px;
}

.center-left {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
}

.buttons {
    margin: 0px 2vw;
    position: absolute;
    right: 0vh;
    top: 50%;
    display: table;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.index-heading {
    font-weight: bold;
    margin: 1vh;
    font-size: 6.5vh;
    color: #FFFFFF;
    font-weight: bold;
}
